*{
    margin: 0;
}
body{
    overflow-x: hidden;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #3a066c;

    padding-top: 10px;
    padding-bottom: 10px;
}
.quizBTN{
    width: 250px;
    height: 75px;
}

.quizBTN:hover{
    background-color: #9601ca;
    border: none;
    cursor: pointer;
}